<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ReportTemplate
    style
      include report-style.css
  body
    header
      .information
        h1 Relatório de #{type}
        .inline
          p.bold Número:
          p #{student_number}
          p.bold.space Aluno:
          p #{student_name}
        .inline
          p.bold Encarregado de Educação:
          p #{guardian_name}
        .inline
          p.bold Ano Letivo:
          p #{school_year}
          p.bold.space Data:
          p #{report_date}

      
      img(src='https://pupilos.eu/wp-content/uploads/2018/09/IPE-logo_redondo-PNG.png')
    .container
      table
        tr
          th LIVRO
          th CÓDIGO
          th ESTADO
          th ASSINATURA
        each val in objects
          tr(class=val.signature?'block':'')
            td= val.name
            td= val.physical_book_id
            td= val.state
            td= val.signature ? '' : '-'
    footer
      .information
        h4 Instituto dos Pupilos do Exército
        p Tv. São Domingos de Benfica 1500, Lisboa
        p Telefone: 217713800 